@model Spice.Models.ViewModels.IndexViewModel
@using Spice.Utility

@*<br />*@

@*@if (Model.Coupon.ToList().Count > 0)
    {
        <div class="border">
            <div class="carousel" data-ride="carousel" data-interval="2500">
                @for (int i = 0; i < Model.Coupon.Count(); i++)
                {
                    if (i == 0)
                    {


                        <div class="carousel-item active">
                            @{
                                var base64 = Convert.ToBase64String(Model.Coupon.ToList()[i].Picture);
                                var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                            }

                            <img src="@imgsrc" height="50px" class="d-block w-100" />
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item">
                            @{
                                var base64 = Convert.ToBase64String(Model.Coupon.ToList()[i].Picture);
                                var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                            }

                            <img src="@imgsrc" height="50px" class="d-block w-100" />
                        </div>
                    }
                }
            </div>
        </div>

    }*@

@*<br /><br />*@

@*<form method="get" asp-action="Index">
        <p>
            <input type="search" placeholder="enter name" value="@ViewData["Getemployeedetails"]" name="Empsearch" style="width:200px" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="Index">Get products</a>
        </p>
    </form>*@


<div class="backgroundWhite container">

    <ul id="menu-filters" class="menu-filter-list list-inline text-center">
        <form method="get" asp-action="Search" asp-controller="Home" class="form-inline my-2 my-md-0">
            <input class="form-control  py-2 border-right-0 border" name="name" type="search" placeholder="Enter name" value="" id="example-search-input">
            <span class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </form>
        <li class="active btn btn-secondary ml-1 mr-1" data-filter=".menu-restaurant">Show All</li>

        @foreach (var item in Model.SubCategory)
        {
<li class="ml-1 mr-1" data-filter=".@item.Name.Replace(" ", string.Empty)">@item.Name</li>}

    </ul>

    @foreach (var sbcategory in Model.SubCategory)
    {
<div class="row" id="menu-wrapper">
    <partial name="_ThumbnailAreaPartial" model="@Model.MenuItem.Where(u => u.SubCategory.Name.Equals(sbcategory.Name))" />
</div>}
</div>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <script>

        var posts = $('.post');

        (function ($) {

            $("#menu-filters li").click(function () {
                $("#menu-filters li").removeClass('active btn btn-secondary');
                $(this).addClass('active btn btn-secondary');

                var selectedFilter = $(this).data("filter");

                $(".menu-restaurant").fadeOut();

                setTimeout(function () {
                    $(selectedFilter).slideDown();
                }, 300);
            });



        })(jQuery);

    </script>
}