@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="border backgroundWhite">
        <div class="row">
            <div class="col-6">
                <h2 class="text-info"> Users List</h2>
            </div>
            <div class="col-6 text-right">
                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp; New Employee Registeration</a>
            </div>
        </div>
        <br />
        <form method="get" asp-action="Index">
            <p>
                <input type="search" placeholder="enter name" value="@ViewData["Getemployeedetails"]" name="User" style="width:200px" />
                <button class="btn btn-primary" type="submit" value="Search">
                    <i class="fa fa-search"></i>
                </button>
                <a asp-action="Index" class="btn btn-primary">Show All</a>
            </p>
        </form>
        <div>
            @if (Model.Count() > 0)
            {
    <table class="table table-striped border">
        <tr class="table-secondary">
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Email)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.PhoneNumber)
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(m => item.Name)
        </td>
        <td>
            @Html.DisplayFor(m => item.Email)
        </td>
        <td>
            @Html.DisplayFor(m => item.PhoneNumber)
        </td>
        <td>

            @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
            {
    <a class="btn btn-success text-white" asp-action="Lock" asp-route-id="@item.Id">
        <i class="fas fa-lock-open"></i>
    </a> }
                        else
                        {
    <a class="btn btn-danger text-white" asp-action="UnLock" asp-route-id="@item.Id">
        <i class="fas fa-lock"></i>
    </a>}
        </td>
    </tr>                }
    </table> }
                else
                {
    <p>No category exists...</p>}
        </div>
    </div>

